src/solutions/dev/Workflows/InvokeAgent-C9FA9C56-0BBF-F011-BBD2-7CED8D3BCFDE.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr890_sharedcommondataserviceforapps_d7b6b"
        },
        "runtimeSource": "embedded"
      },
      "shared_microsoftcopilotstudio": {
        "api": {
          "name": "shared_microsoftcopilotstudio"
        },
        "connection": {
          "connectionReferenceLogicalName": "cr890_sharedmicrosoftcopilotstudio_61e9c"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "cr890_evalrun",
              "subscriptionRequest/scope": 4
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runtimeConfiguration": {
            "concurrency": {
              "runs": 1,
              "maximumWaitingRuns": 100
            }
          },
          "metadata": {
            "operationMetadataId": "500f7595-1d16-4a99-b96d-055ed4cf4220"
          }
        }
      },
      "actions": {
        "Main_Block": {
          "type": "Scope",
          "actions": {
            "Update_Started_Status": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr890_evalruns",
                  "recordId": "@triggerOutputs()?['body/cr890_evalrunid']",
                  "item/cr890_status": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "metadata": {
                "operationMetadataId": "68d5af97-0775-424c-8730-612494263d8b"
              }
            },
            "Invoke_UpdateDatasetFile_Custom_API": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "actionName": "cr890_UpdateDatasetAsFile",
                  "item/evalRunId": "@outputs('Update_Started_Status')?['body/cr890_evalrunid']",
                  "item/datasetId": "@outputs('Update_Started_Status')?['body/cr890_datasetid']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Update_Started_Status": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3ae21dc8-17e9-495b-8a9c-2cc6392f4590"
              }
            },
            "Parse_input_JSON": {
              "type": "ParseJson",
              "inputs": {
                "content": "@json(body('Download_Dataset_File'))",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "query": {
                        "type": "string"
                      },
                      "context": {
                        "type": "string"
                      },
                      "actualResponse": {
                        "type": "string"
                      },
                      "groundTruth": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "query",
                      "context",
                      "actualResponse",
                      "groundTruth"
                    ]
                  }
                }
              },
              "runAfter": {
                "Download_Dataset_File": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "250bf238-eaac-4135-a964-e899821b7243"
              }
            },
            "Apply_to_each": {
              "type": "Foreach",
              "foreach": "@body('Parse_input_JSON')",
              "actions": {
                "Execute_Copilot_and_wait": {
                  "type": "OpenApiConnectionWebhook",
                  "inputs": {
                    "parameters": {
                      "Copilot": "@outputs('Update_Started_Status')?['body/cr890_agentschemaname']",
                      "environmentId": "@outputs('Update_Started_Status')?['body/cr890_environmentid']",
                      "body/message": "@items('Apply_to_each')['query']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_microsoftcopilotstudio",
                      "operationId": "ExecuteCopilotAsyncV2",
                      "connectionName": "shared_microsoftcopilotstudio"
                    },
                    "retryPolicy": {
                      "type": "exponential",
                      "count": 2,
                      "interval": "PT20S",
                      "minimumInterval": "PT20S",
                      "maximumInterval": "PT120S"
                    }
                  },
                  "limit": {
                    "timeout": "PT5M"
                  },
                  "metadata": {
                    "operationMetadataId": "25c619cb-ed17-4c1c-a6d0-bed5605a03b6"
                  }
                },
                "Append_to_output_array_variable": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "dataset",
                    "value": "@outputs('Compose')"
                  },
                  "runAfter": {
                    "Compose": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ac137436-6a38-4327-bb83-d05cce3d0f0f"
                  }
                },
                "Compose": {
                  "type": "Compose",
                  "inputs": {
                    "query": "@{items('Apply_to_each')['query']}",
                    "context": "@{items('Apply_to_each')['context']}",
                    "actualResponse": "@{outputs('Execute_Copilot_and_wait')?['body/lastResponse']}",
                    "groundTruth": "@{items('Apply_to_each')['groundTruth']}"
                  },
                  "runAfter": {
                    "Execute_Copilot_and_wait": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4655aa83-80bf-4ed6-80b6-42f73d35e7eb"
                  }
                }
              },
              "runAfter": {
                "Parse_input_JSON": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 20
                }
              },
              "metadata": {
                "operationMetadataId": "c1c76b90-0a7e-488c-8fa0-4b4a56a51fa8"
              }
            },
            "Invoke_PublishEnrichedDataset_Custom_API": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "actionName": "cr890_PublishEnrichedDataset",
                  "item/evalRunId": "@outputs('Update_Started_Status')?['body/cr890_evalrunid']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "PerformUnboundAction",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Save_Enriched_Dataset_File": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "c481cb22-0115-4a86-b589-fd4e30bd4a8e"
              }
            },
            "Download_Dataset_File": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr890_evalruns",
                  "recordId": "@outputs('Update_Started_Status')?['body/cr890_evalrunid']",
                  "fileImageFieldName": "cr890_datasetfile"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetEntityFileImageFieldContent",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Invoke_UpdateDatasetFile_Custom_API": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e91ecbbd-32f1-4132-b18b-274d4e87aa5f"
              }
            },
            "Save_Enriched_Dataset_File": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "x-ms-file-name": "Enriched Dataset JSON",
                  "entityName": "cr890_evalruns",
                  "recordId": "@outputs('Update_Started_Status')?['body/cr890_evalrunid']",
                  "fileImageFieldName": "cr890_datasetfile",
                  "item": "@variables('dataset')"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateEntityFileImageFieldContent",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Apply_to_each": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "780502c6-943d-445f-a4b4-191f448da8f5"
              }
            }
          },
          "runAfter": {
            "Initialize_dataset_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "38929bdc-dbba-4e28-85a9-febde0d22960"
          }
        },
        "Initialize_dataset_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "dataset",
                "type": "array"
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "cc41b6bf-b2bb-4f37-8b0e-670481512a91"
          }
        },
        "Invoke_UpdateFailedState_CustomAPI": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "actionName": "cr890_UpdateFailedState",
              "item/evalRunId": "@triggerOutputs()?['body/cr890_evalrunid']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "PerformUnboundAction",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Main_Block": [
              "TimedOut",
              "Skipped",
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "a0623a40-8d91-44c3-b2eb-886734f89a28"
          }
        },
        "Replace_Dataset_File_with_placeholder": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "x-ms-file-name": "PlaceholderFile",
              "entityName": "cr890_evalruns",
              "recordId": "@triggerOutputs()?['body/cr890_evalrunid']",
              "fileImageFieldName": "cr890_datasetfile",
              "item": "The dataset file has been removed post run."
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "UpdateEntityFileImageFieldContent",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Main_Block": [
              "TimedOut",
              "Skipped",
              "Failed",
              "Succeeded"
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}